
/* Section 7 */

#section7{
	padding-top:60px;
	padding-bottom:60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#NSLT{
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	overflow:hidden;
	width:910px;
	height:160px;
}

#TGauche1{
	position:absolute;
	top:10px;
	left:10px;
	font-size:30px;
	font-family: 'Montserrat Alternates';
	font-weight:bold;
}

#TGauche2{
	position:absolute;
	top:50px;
	left:15px;
	width:300px;
}


#TDroite{
	position:absolute;
	top:10px;
	right:15px;
	width:250px;
}

#Nom{
	position:absolute;
	width:110px;
	right:145px;
}

#Prenom{
	position:absolute;
	width:110px;
	right:15px;
}

#Email{
	position:absolute;
	right:15px;
	bottom: 40px;
	width:240px;
}

#Envoyer{
	position:absolute;
	bottom:15px;
	right:15px;
}

input[type=text], input[type=submit] {
	border: 1px solid #ccc;
}

input[type=submit] {
	background-color: rgba(69, 100, 52, .6) ;
	color: #EFEFEF;
	border: none;
	border-radius: 5px;
}

input[type=submit]:hover {
	opacity: 0.9;
}

#INSLT2{
	display:none;
}

@media only screen and (max-width: 920px) {

#INSLT{
	display:none;
}

#INSLT2{
	display:block;
}

#NSLT{
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	overflow:hidden;
	width:304px;
	height:490px;
}

#TGauche1{
	top:10px;
	left:10px;
	font-size:30px;
	width:280px;
	text-align:center;
}

#TGauche2{
	position:absolute;
	top:120px;
	left:10px;
	width:280px;
	font-weight:bold;
	width:280px;
	text-align:center;
}


#TDroite{
	position:absolute;
	top:210px;
	left: 10px;
	width:280px;
	font-weight:bold;
	width:280px;
	text-align:center;
}

#Nom{
	position:absolute;
	width:130px;
	height:25px;
	left:10px;
	bottom:110px;
}

#Prenom{
	position:absolute;
	width:130px;
	height:25px;
	left:150px;
	bottom:110px;
}

#Email{
	position:absolute;
	left:10px;
	bottom: 70px;
	width:270px;
	height:25px;
}

#Envoyer{
	position:absolute;
	bottom:25px;
	left:50px;
	right:50px;
	height:25px;
}

input[type=submit] {
	background-color: rgba(69, 100, 52) ;
}

}


/* Section 6 */

#section6{
	width:100%;
	position:relative;
}

#NEAV{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	font-family: 'Montserrat Alternates';
	padding-top:10px;
}

.NEAV13{
	position:relative;
	background:rgba(69, 100, 52, .25);
	height:90px;
}

#NEAV2{
	position:relative;
	height:90px;
}

.date{
	position:absolute;
	left:10px;
	display: flex;
	align-items: center; /** Y-axis align **/
	height: 100%;
}

.EVtext{
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.EVTitre{
	position:absolute;
	top:0;
	padding-top:10px;
	font-size:20px;
	font-weight: bold;
}

.EVDesc{
	position:absolute;
	top:40px;
}

.ipan{
	position:absolute;
	right:10px;
	display: flex;
	align-items: center; /** Y-axis align **/
	height: 100%;
}


@media only screen and (max-width: 700px) {
.EVDesc{
	width:50%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#NEAV2{
	height:120px;
}

.NEAV13{
	height:120px;
}
}

@media only screen and (max-width: 600px) {

#NEAV{
	text-align:center;
	font-size:24px;
}

}
/* Section 5 */

#section5{
	position:relative;
}

#QSN{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:50px;
}


#QSNG{
	position:relative;
	align-items: center;
	width:620px;
	justify-content: center;
	align-items: center;
}

#QSNGText{
	text-align: justify;
	text-justify: inter-word;
	font-size:16px;
	font-family: 'Montserrat';
}

#divtext{
	padding-bottom:60px;
}

#QSNDText{
	font-family: 'Montserrat';
	padding-bottom:15px;
}

#Contacts{
	font-size:22px;
	font-weight: bold;
}

.ST{
	font-size:18px;
	font-weight: bold;
}

#QSNDText ul{
	margin: 0;
	padding: 0;

}

#QSNDText li{
	margin: 0;
	padding: 0;
}

#QSNDText i{
	padding-right:10px;
}

#gmap{
	width:562px;
	height:280px;
}

#map-responsive {
	position: relative;
	padding-bottom: px; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}
.map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}


@media only screen and (max-width: 1250px) {
#QSN{
	display: block; 
}

#QSNG{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	
}

#gali{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#divtext{
	width:85%;
	margin-left: auto;
	margin-right: auto;
}

#QSND{  
	text-align: center;
}

#QSNDText ul{
	list-style:none;
	padding:0;
}



#QSNDText{
	margin:1%;
}

}

@media only screen and (max-width: 700px) {

#gali{
	width:100%;
}



}

@media only screen and (max-width: 590px) {


#gmap{
	width:90%;
}
}

body{ 
background-color: #EFEFEF;
margin: 0; 
padding: 0;
}

/* ----------------------------------- */

/* Section 1 */



#splash1 img{
	width:100%
}

#S1T{
	font-size:5vw;
	color:white;
	position: absolute;
	bottom: 5%;
	left:5%;
	font-family: 'Montserrat Alternates';
}

#T1{
	line-height: 0.2;	
}

#T2{
	line-height: 0.2;
}

@media only screen and (max-width: 700px) {
#S1T{
	font-size:8vw;
}
}

/* ----------------------------------- */

/* Section 3 */

#section3 h3{
	font-size:30px;
	padding-left:15px;
	color:#EFEFEF;
}

.TITRE{
	padding-left:10%;
	font-size:30px;
	font-family: 'Montserrat Alternates';
}


@media only screen and (max-width: 1200px) {
.TITRE{
	padding-left:0%;
	text-align:center;
}
}

#Nosstyles{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



#NSP1 img{
	height: auto; 
	width: auto; 
}



.styles1{
	display:inline-block;
}

.genreI{
	position:relative;

}

.genreI h3{
	position:absolute;
	top:-20px;
}

.texte1{
	width:30%;
}

.genre1{
	top:10px;
}



.genre2{
	position:absolute;
}

.genreII{
	position:relative;
}

.genreII h3{
	position:absolute;
	top:-20px;
}

.stylesII{
	display:inline-block;
}

.N1{
	padding:8px;
}

.N1:hover{
	opacity: 0.9;
}

@media only screen and (max-width: 1800px) {

#Nosstyles{
	display: block;
	
}


#NSP1{
	display:block;
	text-align: center;
}

#NSP2{
	text-align: center;
}


}


@media only screen and (max-width: 925px) {

#Nosstyles{
	width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.styles1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.styles2 img{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#NSP1 img{
	width:90%;
	height:90%;
}

}

/* ----------------------------------- */

/* Section 4 */

#section4{
	position:relative;
}

#Nosartistes{
	align-items: center;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(69, 100, 52, .25);
	padding-top:2%;
	gap:60px;
}


.blockparent{

	display:flex;
}

.test{
	padding-left:10px;
}

.A{
	border: 3px solid black;
}

.ligne{
	display:inline-block;
}

.DescA{
	text-align: start;
	line-height: 0;
}

.Aplus i{
	border: none;
	outline: none;
	background-color: black;
	color: white;
	padding: 6px;
	border-radius: 4px;
	cursor:pointer;
	display:inline-block;
}

@media only screen and (max-width: 1400px) {

#Nosartistes{
	align-items: center;
	width:100%;
	display: block;
	position:relative;
	background: rgba(69, 100, 52, .25);
	padding-top:2%;
	gap:60px;
}

.blockparent{
	justify-content: center;
	margin-bottom:30px;

}


.test{
	padding-left:10px;
}

}
@media only screen and (max-width: 700px) {

.test{
	padding-left:0%;
}

.blockparent{
	display:block;
}

.test{
	display:flex;
}

.test img{
	width:90%;
}

.A{
	width:35%;
	float:left;
	position: relative;
	left:10%;
}



.DescA{
	float:left;
	padding-left:20px;
	position: relative;
	left:10%;
}

.test{
	width:100%;
	padding-top:15px;
	justify-content: center;
}

}
/* CARROUSSEL */


.mySlides {
	display: none
}

/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	position: relative;
	max-height: 100vh;
	overflow: hidden;
}



/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.img{
	width:100%;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */

#dot{
	position:absolute;
	bottom:20px;
	left:50%;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
	.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

.prev, .next,.text {
	font-size: 11px
}
}

@media only screen and (max-width: 1700px) {
.img{
	width:100%;
	height:836px;
}
}


/* ---------------------------------------------------------------------------------------------------- */

input[type="email"],
textarea,
fieldset {
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

/* PlusI */

.PlusI{
	position:absolute;
	right:10px;
	top:40px;
}


.PlusI{
	display: flex;
	align-items: center;
	cursor: pointer;
	gap:10px;
}

.PlusI i{
	border: none;
	outline: none;
	background-color: black;
	color: white;
	padding: 6px;
	border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
.PlusI{
	top:50px;
}
}

@media only screen and (max-width: 364px) {
#PlusIexc2{
	top:110px;
}

#PlusIexc1{
	top:110px;
}
}


/* Bouton HDP */

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 25px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#myBtn:hover {
	opacity: 0.9;
}

/* Nos nouveautés */

#section2{
	position:relative;
}

#Nosnouveautes{
	justify-content: center;
	align-items: center;
	background: rgba(69, 100, 52, .25);
	padding-top:2%;
	gap:60px;
}

ul{
	list-style-type: none;
}

.carousel-items {
	display: flex;
	overflow-x: scroll;
	padding: 1rem 0;
	scroll-snap-type: x mandatory;
}

.carousel-items ul{
	list-style:none;
}

.carousel-item {
	flex: 1 0 250px;
	margin-left: 1rem;
	scroll-snap-align: start;
}

::-webkit-scrollbar-track {
	background-color: #EFEFEF;
}

::-webkit-scrollbar {
	height: 6px;
	background-color: #EFEFEF;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(69, 100, 52, .6);
	border-radius: 3px;
}



/* -Page : Nos nouveautés- */


#P2NosN{
	padding-top:140px;
	padding-bottom:50px;
}

#P2NN{
	text-align:center;
	font-family: 'Montserrat Alternates';
	font-size:50px;	
	padding-bottom:2%;
}

.P2ligne{
	flex-wrap:wrap;
	text-align: center;
	width:100%;
}

.P2artiste{
	font-size:30px;
}

.P2oeuvre{
	width:282px;
	display:inline-block;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:2%;
	font-size:20px;
}

.P2N1{
	border: 3px solid black;
	padding:8px;
}

.P2texte{
	text-align: start;
	line-height: 0;
}

@media screen and (max-width: 1000px) {

#P2NN{
	font-size:35px;	
}

}

/* ----------------------------------- */

/* Header */

#logo1{
	position: absolute;
	top:20px;
	left:20px;
}

#header{
	z-index: 300;
	display:flex;
	width:100%;
	height:120px;
	flex-wrap:wrap;
	justify-content:space-between;
	position:fixed;
}

#logo{
	position:absolute;
}

#menu{
	position:absolute;
	text-align: center;
	right:0;
	left:0;
}

#language{
	float:right;
	position: absolute;
	right:0;
	width:20%;
	padding-right:20px;
}
#langues{
	text-align: center;
	text-align: right;
}

a{
	text-decoration: none;
	text-decoration-color: black;
}

.li1{
	display:inline-block;
	padding-left: 1%;
	padding-right: 1%;
	font-size:22px;
}

.li2{
	display:inline-block;
}

#langues{
	padding-right:1%;
}

#hamburger-menu {
	display: none;
}

#hamburger-input {
	display:none;

}

/* ----------------------------------- */

/* Hamburger */

@media screen and (max-width: 1000px) {



#hamburger-menu {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	display: none;
	border: none;
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat';
	background: linear-gradient(
	  to bottom, 
	  #3D0E61, #3D0E61 20%, 
	   #899C7F 20%,  #899C7F 40%, 
	  #3D0E61 40%, #3D0E61 60%, 
	   #899C7F 60%,  #899C7F 80%, 
	  #3D0E61 80%, #3D0E61 100%
	);
}

#hamburger-menu #sidebar-menu {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: -250px;
	top:90px;
	width: 100%;
	height: 300px;
	background-color: #899C7F;
	transition: 0.5s;
	padding: 0px 10px;
	box-sizing: border-box;
}

#hamburger-menu ul {
	padding-left: 0px;
}

#hamburger-menu li {
	list-style-type: none;
	line-height: 3rem;
}

#hamburger-menu a {
	color: #000000;
	font-size: 1.3rem;
	text-decoration: none;
	border-bottom:1px solid black;
}

#hamburger-menu a:hover {
	text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
	visibility: visible;
	left: 0;
}
#hamburger-input:checked ~ .overlay{
	visibility: visible;
	opacity: 0.4;
}

#menu {
	display: none;
}

#language{
	display:none;
}

#logo1{
	width:70px;
	height:70px;
	left:10px;
	top:10px;
}

#hamburger-menu {
	display: inline;
}

#header{
	background-color: #899C7F;
	border-bottom:1px solid black;
	height:90px;
}

}

/* ----------------------------------- */

/* Footer */

#footer{
	display:flex;
	width:100%;
	height:200px;
	flex-wrap:wrap;
	justify-content:space-between;
	background: rgba(69, 100, 52, .6);
}

#footer ul{
	padding: 0;
}

#footer h5{
	font-size:14px;
}

#foot{
	width:100%;
	text-align: center;
}

#RSD{
	width:100%;
	text-align: center;
}

.liI{
	display:inline-block;
	padding-left: 1%;
	padding-right: 1%;
	line-height: 0;
}


.li4{
	display:inline-block;
	padding-left: 1%;
	padding-right: 1%;
}

#ecris{
	font-size:20px;
}

@media screen and (max-width: 600px) {
#footer{
	height:260px;
}

#ul4{
	padding-bottom:10px;
}